.overview-container {
  height: 550px;
  display: flex;
  border: 1px black solid;
  justify-content: flex-start;

}

.imageBox {
  flex: 2;
}

.styleCartBox {
  display: flex;
  flex-direction: column;
  flex:1;
}

.cart {
  border: 1px black solid;
}

.productInfo2 {
  border: 1px black solid;
}




/*----------------------------------Image Gallery-----------------------*/

.currentImage-container {
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.image-Box1 {
  flex-basis: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.image-Box2 {
  flex-basis: 80%;
  justify-content: center;
  margin-right: auto;
  position: relative;
}

.mainImage {
  max-width: 80%;
  max-height: 500px;
  overflow: hidden;
  margin: auto;
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

.mainImage:hover {
  cursor: zoom-in;
}

dialog {
  top: 0;
  width: 200%;
  z-index: 9999;
}

.expanded {
  margin-left: auto;
  margin-right: auto;
  width: 35%;
  overflow: hidden;
  padding-left: 200px;
  cursor: crosshair;
}

.zoomed {
  width: 50%;
  height: auto;
}


.image-thumbnail {
  display: none;
}

.image-thumbnail:nth-child(-n+6) {
  display: grid;
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 30px;
}

 #selectedPic {
  box-shadow: 6px 6px 6px #76787A;
  -moz-box-shadow: 6px 6px 6px #76787A;
  -webkit-box-shadow: 6px 6px 6px #76787A;
  -khtml-box-shadow: 6px 6px 6px #76787A;
}

.back, .forward {
  cursor: pointer;
  position: absolute;
  top: 25%;
  width: auto;
  margin-top: -23px;
  padding: 20px;
  color: grey;
  font-weight: bold;
  font-size: 19px;
  border-radius: 0 5px 5px 0;
  user-select: none;
}

.forward {
  top: 25.5%;
  right: 38%;
  border-radius: 4px 0 0 4px;
}

/* .zoomForward, .zoomBack {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -23px;
  padding: 20px;
  color: grey;
  font-weight: bold;
  font-size: 19px;
  border-radius: 0 5px 5px 0;
  user-select: none;
} */

.up, .down {
  color: grey;
  font-weight: bold;
  font-size: 19px;
  padding-left: 53px;
  cursor: pointer;
}


/*------------------------------------Review------------------------------*/
.ratings {
  padding-top: 15px;
}
.reviewCount {
  padding-left: 15px;
}
/*------------------------------------Product Info 1------------------------------*/
.productInfo1 {
  padding-top: 15px;
}
.category {
  padding-bottom: 5px;
  font-weight: bold;
}

.styleName {
  font-weight: bold;
}

.name {
  padding-bottom: 5px;
  font-size: 32px;
  font-weight: bold;
}

.salePrice {
  padding-top: 15px;
  color:red;
}

.regularSale {
  padding-top: 10px;
  text-decoration: line-through;
  font-style: italic;
}

.regularPrice {
  padding-top: 15px;
}

.productInfo2 {
  padding-top: 15px;
  display: flex;
}

.textDescription {
  flex: 2;
}

.slogan {
  font-size: 18px;
  font-weight: bold;
}

.description {
  padding-top: 2px;
}

.share {
  flex: 1;
}

.icon {
  padding-right: 15px;
  size: 48px;
}

.d {
  color: rgb(114, 137, 217);
}

.t {
  color: rgb(29,161,242);
}

.f {
  color: rgb(66,103,178);
}

.p {
  color: rgb(230,0,35);
}




/*------------------------------------Style Selector------------------------------*/
.styleSelector {
  padding-top: 20px;
}

.thumbnail-container {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.thumbnailRow {
  display: flex;
}

.thumbnailCircle {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

input[type="radio"]{
  display: none;
}

label {
  padding: 5px;
  display: block;
  position: relative;
  margin: 5px;
  cursor: pointer;
}

label:before {
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  position: absolute;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 28px;
}

:checked + label:before {
  content: "✓";
  background-color: #76787A;
}

:checked + label img {
  box-shadow: 0 0 5px #76787A;
  z-index: -1;
}
/*-------------------------------------Cart---------------------------------------*/

.cart-container {
  padding-top: 40px;
}

.selectSize {
  width: 120px;
  height: 40px;
  margin-right: 30px;
  text-align: center;
  border-radius: 5px;
}

.selectQuantity {
  width: 180x;
  height: 40px;
  text-align: center;
  border-radius: 5px;
}

.addCart {
  padding-top: 15px;
}

.addCartbtn {
  width: 300px;
  height: 25px;
  color: white;
  background-color: black;
  border-radius: 5px;
}

.shoppingCart {
  color: white;
}

.notification {
  font-weight: bold;
  color:tomato;
  padding-bottom: 5px;
}