#related-cards{
  display: flex;
}

#right-arrow{
  display: flex;
  justify-content: center;
}

.card-component{
  display: flex;
  border: 1px solid black;
  flex-direction: column;
  flex-wrap: wrap;
  height: 315px;
  width: 195px;
}
.product-image{
  height: 50px;
  width: 50px;
}
