#related-carousel{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 5px
}
#related-product-header{
  display: flex;
  height: fit-content;
  width: fit-content;
  font-size: 15px;
}
#related-products{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin-left: 15px;
}