.characteristics-container {
  display: flex;
  width: 350px;
  justify-content: flex-start;
  font-size: 10px;
  padding: 8px;
}

.characteristics-left {
  display: flex;
  width: 115px;
  font-size: 10px;
}

.characteristics-left-short {
  display: flex;
  width: 250px;
  font-size: 10px;
}

.characteristics-middle {
  display: flex;
  width: 110px;
  font-size: 10px;
}

.characteristics-right {
  display: flex;
  width: 125px;
  font-size: 10px;
}