.characteristics-container {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  padding: 8px;
}

.characteristics-left {
  display: flex;
  /* justify-content: flex-start; */
  font-size: 10px;
}

.characteristics-middle {
  display: flex;
  /* justify-content: flex-start; */
  font-size: 10px;
}

.characteristics-right {
  display: flex;
  font-size: 10px;
}