.single-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid lightgray;
  padding: 5px;
  margin-bottom: 15px;
}

.single-review-summary {
  font-weight: bold;
}