/* .single-review-tile {
  font-weight: bold;
} */

.single-review {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
}

.single-review-summary {
  font-weight: bold;
}